<!--
  Rename this file to umami.html, replace the website ID, then add
  `include-in-header: includes/umami.html` under format.html in _quarto.yml.
-->
<script defer src="https://cloud.umami.is/script.js" data-website-id="REPLACE_WITH_UMAMI_WEBSITE_ID"></script>

